.cartitems{
    margin: 100px 170px;
    
}
.cartitems hr{
    height: 3px;
    background: wheat;
    border: 0;
}
.cartitems-format-main{
    /* display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr 1fr; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* gap: 75px; */
    
    padding: 20px 0px;
    color: green;
    font-size: 18px;
    font-weight: 600;
}
.cart-items-format{
    font-size: 17px;
    font-weight: 500;
}
.carticon-producticon{
    height: 62px;
}
.cart-remove{
    width: 15px;
    margin: 0px 10px;
    cursor: pointer;
}
.cart-items-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid red;
    background: white;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cart-items-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* margin-right: 100px; */
    gap: 40px;

}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cart-items-total button{
   height: 58px;

    width: 260px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: red;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;

}
